.herosection__container {
  padding-top: 5rem;
  padding-bottom: 5rem;

  background-image: url("http://vapeworlduae.com/images/parralax-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
