.allProducts__wrapper {
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  grid-gap: 1rem;
}
.allproducts__featured-services {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #fafafa;
  border: 1px solid #eaeaea;
}

.allproducts__container {
  padding-bottom: 5rem;
  padding-top: 5rem;
}
